*
!*/
!/.gitignore

# Source Code
!/frontend/*.*
!/src/**/*.py

# Templates
!/Default System Prompts/**
!/Story Templates/__BLANK__/*.*
!/.env.dist

# Build Files
!/.build.ps1
!/launch.bat
!/Main.py
!/ReadMe.md
!/release.bat
!/requirements.txt
!/setup.bat
!/TODO
!/release.zip
